{{!< default}}
    <div id="ww" class="page page-static">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <main>
            <article class="{{post_class}}">
              {{#post}}
              <header>
                {{#if tags}}<h5>Posted in {{tags}}</h5>{{/if}}
                <h1>{{{title}}}</h1>
                <hr>
              </header>
              <section>
                {{content}}
              </section>
              {{/post}}

              </article>
          </main>
        </div>
      </div>
    </div>
  </div>
