<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href={{@blog.url}}><img src="{{asset "img/nodejs-houston.png"}}" style="max-height:100px; position: relative; top: -45px;"></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/about">About</a></li>
        <li><a href="/resources">Resources</a></li>
        <!-- <li><a href="/challenge">Challenge</a></li> -->
        <li><a target="_blank" href="http://chat.nodejshouston.com/"><i class="fa fa-slack fa-lg"></i></a></li>
        <li><a target="_blank" href="http://www.meetup.com/NodejsHouston/"><i class="fa fa-calendar fa-lg"></i></a></li>
        <li><a target="_blank" href="http://github.com/nodejshouston"><i class="fa fa-github-alt fa-lg"></i></a></li>
        <li><a target="_blank" href="http://twitter.com/nodejshouston"><i class="fa fa-twitter fa-lg"></i></a></li>
      </ul>
    </div>
  </div>
</div>